body {
  font-family: Calibri, sans-serif;
  background-color: #fefefe;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  margin: 1rem;
}

.buttons {
  width: 80vw;
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}
#btnSort,
#btnReset,
#speed {
  font-family: Calibri, sans-serif;
  padding: 0.5rem 1rem;
  background-color: #fefefe;
  border: 2px solid #424141da;
  border-radius: 2px;
  cursor: pointer;
}

#btnSort:hover,
#btnReset:hover,
#speed:hover
{
  box-shadow: #7977779d 0 0 5px;
}

#box {
  box-sizing:content-box;
  width: 80vw;
  max-width: 600px;
  height: 50vh;
  /* border: 1px solid black; */
  border-radius: 2px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  box-shadow: 0 0 5px #7977779d;
}

.item {
  width: 5%;
  margin: 0 2px;
  background-color: #e44141de;
  text-align: center;
}

.itemLabel {
  position: relative;
  top: -20px;
  background-color: white;
}
